<div class="page-header">
  <h1>Meals</h1>
</div>

<p><a href="/meals/new" class="btn btn-primary">Add a New Meal</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Restaurant</th>  
      <th>Dish</th>
      <th>Rating</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.user.email %></td>
        <td><%= meal.dish.restaurant.name %></td>  
        <td><%= meal.dish.name %></td>
        <td><%= meal.rating %></td>
        <td><img src="<%= meal.image %>" height="200" width="200"></td>
        <td>
          <a href="/meals/<%= meal.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/meals/<%= meal.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <% if current_user.present? %>
          <% if (current_user == meal.user || current_user.email == 'admin@admin.com') %>


          <a href="/delete_meal/<%= meal.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
            <% end %><% end %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

