<div class="page-header">
  <h1><%= @meal.dish.name %> from <%= @meal.dish.restaurant.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @meal.user.email %></dd>

  <dt>Restaurant</dt>
  <a href="/restaurants/<%= @meal.dish.restaurant.id %>">
  <dd><%= @meal.dish.restaurant.name %></dd>
  </a>  

  <dt>Dish</dt>
  <dd><%= @meal.dish.name %></dd>

  <dt>Rating</dt>
  <dd><%= @meal.rating %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @meal.image %>" height="200" width="200"></dd>

</dl>
