<div class="page-header">
  <h1>Restaurants</h1>
</div>

<p><a href="/restaurants/new" class="btn btn-primary">Add a New Restaurant</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Neighborhood</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.neighborhood %></td>
        <td><%= restaurant.description %></td>
        <td>
          <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

